
body {
	background-color: #48dbfb;
	margin: 200px auto;
	text-align: center;
}

.clock{
    background-color: black;
    font-size: 250px;
    color:white;
    height: 400px;
    width: 80%;
    margin: 0 auto;
}